{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - Sensor Group{% endblock %}

{% block page_content %}
    <div class="page-header">
        <form action="{{ url_for('service.oauth_gen') }}" method="POST">
            <input type="hidden" value="{{ session.email }}"  name="name">
            <h2>OAuth <input type="submit" value="Generate client ID and Key" data-toggle="modal" class="btn btn-info btn-lg"></h2>
        </form>
    </div>
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Client ID </th>
                <th>Client Key </th>
            </tr>
            </thead>
            <tbody>
            {% for key in keys %}
                <tr>
                    <td>{{ key.client_id }}</td>
                    <td>{{ key.client_secret }}</td>
{#                    {% if obj.can_delete %}#}
                        <td>
                            <form action="{{ url_for('service.oauth_delete') }}" method="POST" onsubmit="return confirm('Are you sure you want to Delete?');">
                                <input type="hidden" value="{{key.client_id}}" name="client_id">
                                <input type="hidden" value="{{key.client_key}}" name="client_key">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
{#                    {% endif %}#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}