[submodule "testing/BD-Performance-Test"]
	path = testing/BD-Performance-Test
	url = https://github.com/IoT-Expedition/BD-Performance-Test
[submodule "testing/functional-testing-tool"]
	path = testing/functional-testing-tool
	url = https://github.com/IoT-Expedition/functional-testing-tool
