# Run ./scripts/generate-env to copy this file and randomize passwords / SECRET_KEY
BD=/srv/BuildingDepot/buildingdepot
BD_SETTINGS=/srv/BuildingDepot/configs/bd_settings.cfg

# Docker networking
CENTRALREPLICA_HOST=centralreplica
MONGODB_HOST=mongodb
REDIS_HOST=redis
INFLUXDB_HOST=influxdb

# Credentials
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=changeme
MONGODB_USERNAME=bduser
MONGODB_PWD=changeme
REDIS_PWD=changeme
INFLUXDB_USERNAME=bdadmin
INFLUXDB_PWD=changeme
RABBITMQ_ADMIN_USERNAME=rabbitmq_admin
RABBITMQ_ADMIN_PWD=changeme
SECRET_KEY=change-this-secret-key
