DEBUG = False
SECRET_KEY = '{{ SECRET_KEY }}'
TOKEN_EXPIRATION = 3600
EMAIL = 'LOCAL'
EMAIL_ID = 'admin@buildingdepot.org'
SMTP_HOST = '{{ SMTP_HOST }}'
SMTP_PORT = {{ SMTP_PORT }}
NOTIFICATION_TYPE = 'RabbitMQ'

MONGODB_HOST = '{{ MONGO_HOST }}'
MONGODB_PORT = 27017
MONGODB_DATABASE = 'buildingdepot'
MONGODB_DATABASE_DS = 'dataservice'
MONGODB_DATABASE_BD = 'buildingdepot'
MONGODB_USERNAME = '{{ MONGO_USER }}'
MONGODB_PWD = '{{ MONGO_PWD }}'

REDIS_HOST = '{{ REDIS_HOST }}'
REDIS_PWD = '{{ REDIS_PWD }}'

NAME = 'ds1'

INFLUXDB_HOST = '{{ INFLUX_HOST }}'
INFLUXDB_PORT = 8086
INFLUXDB_DB = '{{ INFLUX_DB }}'
INFLUXDB_USERNAME = '{{ INFLUX_USER }}'
INFLUXDB_PWD = '{{ INFLUX_PWD }}'

RABBITMQ_HOST = '{{ RABBITMQ_HOST }}'
RABBITMQ_ADMIN_USERNAME = '{{ RABBIT_ADMIN_USER }}'
RABBITMQ_ADMIN_PWD = '{{ RABBIT_ADMIN_PWD }}'
RABBITMQ_ENDUSER_USERNAME = '{{ RABBIT_END_USER }}'
RABBITMQ_ENDUSER_PWD = '{{ RABBIT_END_PWD }}'
