class Config:
    MONGODB_DATABASE = "buildingdepot"
    MONGODB_HOST = "{{ MONGO_HOST }}"
    MONGODB_PORT = 27017
    SECRET_KEY = "{{ SECRET_KEY }}"
    TOKEN_EXPIRATION = 3600
    REDIS_HOST = "{{ REDIS_HOST }}"
    MONGODB_USERNAME = "{{ MONGO_USER }}"
    MONGODB_PWD = "{{ MONGO_PWD }}"
    REDIS_PWD = "{{ REDIS_PWD }}"
