{% extends "index.html" %}

{% block title %}BuildingDepot - Building Tags{% endblock %}

{% block page_content %}
<div class="row" ng-app="myApp" ng-controller="metadataController">
    <div class="page-header">
        <h2>Tags of Building {{ building_name }} <a ng-init="root.addNewTag()" href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-hand-up"></span> Add a New Building Tag</a></h2>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a New Building Tag</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" ng-submit="root.submit()">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <select required class="form-control" ng-model="selectedName" ng-options="name for name in names"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Value</label>
                            <div class="col-lg-10">
                                <input ng-model="value" required class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-2 control-label">Parents</label>
                            <div class="col-lg-10">
                                <select multiple class="form-control" ng-model="selectedParents" ng-options="tag.value group by tag.name for tag in tags | optionFilter:this "></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button class="btn btn-success pull-right" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div>
    <div class="modal fade" id="metadata">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Metadata of Building {[ root.buildingName ]} Tag {[ root.tagName ]} {[ root.tagValue ]} </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in metadata">
                                <td><input ng-model="metadata[$index].name" type="text" class="form-control" value="{[ pair.name ]}"></td>
                                <td><input ng-model="metadata[$index].value" type="text" class="form-control" value="{[ pair.value ]}"></td>
                                <td><button class="close" ng-click="root.removeName($index)">&times;</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <button ng-click="root.addNewPair()" type="button" class="btn btn-info">Add a new pair</button>
                        <button ng-click="root.update()" type="button" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <form class="form-vertical">
            <div class="form-group">
            <label class="col-lg-2 control-label">Tag</label>
            <select class="form-control" ng-model="selectedTag" ng-options="tag.name+' '+tag.value group by tag.name for tag in tags">
                <option value="">-- choose tag --</option>
            </select>
            </div>

            <div class="form-group">
            <label class="col-lg-2 control-label">SubTag</label>
            <select class="form-control" ng-model="selectedSubTag" ng-options="name for name in names | subTagFilter:this">
                <option value="">-- choose subtag --</option>
            </select>
            </div>
        </form>
    </div>


    <div class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Parents</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tag in tags | contentFilter:this | orderBy:['name', 'value']">
                    <td>{[ tag.name ]}</td>
                    <td>{[ tag.value ]}</td>
                    <td>
                        <p ng-repeat="parent in tag.parents">
                            {[ parent.name ]} {[ parent.value ]}
                        </p>
                    </td>
                    <td>
                        <a ng-click="root.select('{{ building_name }}', tag.name, tag.value)" href="#metadata" data-toggle="modal" class="btn btn-info">Metadata</a>
                    </td>
                    <td ng-show="tag.can_delete">
                        <form action="{{ url_for('central.building_tags_delete', building_name=building_name) }}" method="POST">
                        <input type="hidden" value="{[ tag.name ]}" name="tag_name">
                        <input type="hidden" value="{[ tag.value ]}" name="tag_value">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
     {{ super() }}
     <script>
        var app = angular.module("myApp", []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function($scope, $http) {
            $scope.root = {};
            $scope.root.addNewPair = function() {
                $scope.metadata.push({'name': '', 'value': ''});
            };
            $scope.root.removeName = function(index) {
                $scope.metadata.splice(index, 1);
            };
            $scope.root.select = function(buildingName, tagName, tagValue) {
                this.buildingName = buildingName;
                this.tagName = tagName;
                this.tagValue = tagValue;
                var res = $http.get('/central/building/'+ buildingName + '/tags/' + tagName + '/' + tagValue + '/metadata');
                res.success(function(data) {
                    console.log(data);
                    $scope.metadata = data.data;
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
            $scope.root.update = function() {
                var res = $http.post('/central/building/'+ this.buildingName + '/tags/' + this.tagName + '/' + this.tagValue + '/metadata', {'data': $scope.metadata});
                res.success(function(data) {
                    confirm('Success');
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
            $scope.root.addNewTag = function() {
                var res = $http.get('/central/building/'+ '{{ building_name }}' + '/add_tag');
                res.success(function(data) {
                    $scope.pairs = data.pairs;
                    $scope.graph = data.graph;
                    $scope.tags = data.tags;
                    $scope.names = Object.keys($scope.pairs);
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
            $scope.root.submit = function() {
                var data = {
                    'name': $scope.selectedName,
                    'value': $scope.value,
                    'parents': $scope.selectedParents
                }
                for (var i = 0; i < $scope.tags.length; i++) {
                    if ($scope.tags[i].name === $scope.selectedName && $scope.tags[i].value === $scope.value) {
                        alert("There is already a tag with the same name and value");
                        return;
                    }
                }
                var res = $http.post('/central/building/'+ '{{ building_name }}' + '/add_tag', {'data': data});
                res.success(function(data) {
                    confirm('Success');
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
        });

        app.filter('optionFilter', [function() {
            return function(input, scope) {
                var parents = scope.pairs[scope.selectedName];
                return input.filter(function(elem) {
                    return parents.indexOf(elem.name) > -1;
                });
            };
        }]);

        app.filter('subTagFilter', [function() {
            return function(input, scope) {
                var selectedTag = scope.selectedTag;
                if (selectedTag !== null && selectedTag !== undefined) {
                    input = scope.graph[selectedTag.name];
                    return input.filter(function(elem) {
                        return scope.names.indexOf(elem) > -1;
                    });
                }
                return input;
            };
        }]);

        function isInvalid(obj) {
            return obj === null || obj === undefined;
        }
        app.filter('contentFilter', [function() {
            return function(input, scope) {
                var selectedTag = scope.selectedTag;
                var selectedSubTag = scope.selectedSubTag;
                if (isInvalid(selectedTag)) {
                    if (isInvalid(selectedSubTag)) {
                        return input;
                    }
                    return input.filter(function(elem) {
                        return elem.name === selectedSubTag;
                    });
                } else {
                    if (isInvalid(selectedSubTag)) {
                        return [selectedTag];
                    }
                    var ancestor = selectedTag.name+selectedTag.value;
                    return input.filter(function(elem) {
                        return elem.name ===  selectedSubTag && elem.ancestors.indexOf(ancestor) > -1;
                    });
                }
            };
        }]);
    </script>
{% endblock %}