{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - Building{% endblock %}

{% block page_content %}
<div class="row">
    <div class="page-header">
        <h2>Building <a href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-hand-up"></span> Add a New Building</a></h2>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a New Building</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div ng-app="myApp" ng-controller="metadataController">
    <div class="modal fade" id="metadata">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Metadata of Building {[ root.buildingName ]}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in metadata">
                                <td><input ng-model="metadata[$index].name" type="text" class="form-control" value="{[ pair.name ]}"></td>
                                <td><input ng-model="metadata[$index].value" type="text" class="form-control" value="{[ pair.value ]}"></td>
                                <td><button class="close" ng-click="root.removeName($index)">&times;</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <button ng-click="root.addNewPair()" type="button" class="btn btn-info">Add a new pair</button>
                        <button ng-click="root.update()" type="button" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Template</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.template }}</td>
                    <td class="col-sm-4">{{ obj.description }}</td>
                    <td>
                        <a ng-click="root.select('{{ obj.name }}')" href="#metadata" data-toggle="modal" class="btn btn-info">Metadata</a>
                    </td>
                    <td>
                        <form action="{{ url_for('central.building_tags', building_name=obj.name) }}">
                        <input type="submit" value="Tags" class="btn btn-success">
                        </form>
                    </td>
                    {% if obj.can_delete %}
                    <td>
                        <form action="{{ url_for('central.building_delete') }}" method="POST">
                        <input type="hidden" value="{{ obj.name }}" name="name">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
     {{ super() }}
     <script>
        var app = angular.module("myApp", []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function($scope, $http) {
            $scope.root = {};
            $scope.root.addNewPair = function() {
                $scope.metadata.push({'name': '', 'value': ''});
            };
            $scope.root.removeName = function(index) {
                $scope.metadata.splice(index, 1);
            };
            $scope.root.select = function(buildingName) {
                this.buildingName = buildingName;
                var res = $http.get('/central/building/'+ buildingName + '/metadata');
                res.success(function(data) {
                    console.log(data);
                    $scope.metadata = data.data;
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
            $scope.root.update = function() {
                var res = $http.post('/central/building/'+ this.buildingName + '/metadata', {'data': $scope.metadata});
                res.success(function(data) {
                    confirm('Success');
                });
                res.error(function() {
                    alert("Ajax failed");
                });
            };
        });
    </script>
{% endblock %}