{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - Data Service{% endblock %}

{% block page_content %}
<div class="row">
    <div class="page-header">
        <h2>Data Service <a href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-hand-up"></span> Add a New Data Service</a></h2>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a New Data Service</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>

    <div ng-app="myApp" ng-controller="metadataController">

    <div class="modal fade" id="buildings">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buildings of Data Service{[ root.dataServiceName ]}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Building</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="building in buildings">
                                <td><select required class="form-control" ng-model="buildings[$index]" ng-options="name for name in building_names"></select></td>
                                <td><button class="close" ng-click="root.removeBuilding($index)">&times;</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <button ng-click="root.addNewBuilding()" type="button" class="btn btn-info">Add a new building</button>
                        <button ng-click="root.updateBuildings()" type="button" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="admins">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Admins of Data Service {[ root.dataServiceName ]}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="admin in admins">
                                <td><select required class="form-control" ng-model="admins[$index]" ng-options="email for email in user_emails"></select></td>
                                <td><button class="close" ng-click="root.removeAdmin($index)">&times;</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btn-group">
                        <button ng-click="root.addNewAdmin()" type="button" class="btn btn-info">Add a new admin</button>
                        <button ng-click="root.updateAdmins()" type="button" class="btn btn-warning">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Host</th>
                    <th>Port</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in objs %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td class="col-sm-4">{{ obj.description }}</td>
                    <td>{{ obj.host }}</td>
                    <td>{{ obj.port }}</td>
                    <td>
                        <a ng-click="root.select('{{ obj.name }}')" href="#buildings" data-toggle="modal" class="btn btn-info">Buildings</a>
                    </td>
                    <td>
                        <a ng-click="root.selectAdmins('{{ obj.name }}')" href="#admins" data-toggle="modal" class="btn btn-info">Admins</a>
                    </td>
                    {% if obj.can_delete %}
                    <td>
                        <form action="{{ url_for('central.dataservice_delete') }}" method="POST">
                        <input type="hidden" value="{{ obj.name }}" name="name">
                        <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
     {{ super() }}
     <script>
        var app = angular.module("myApp", []);
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function($scope, $http) {
            $scope.root = {};
            $scope.root.addNewBuilding = function() {
                $scope.buildings.push('');
            };
            $scope.root.removeBuilding = function(index) {
                $scope.buildings.splice(index, 1);
            };
            $scope.root.select = function(dataServiceName) {
                this.dataServiceName = dataServiceName;
                var res = $http.get('/central/dataservice/'+ dataServiceName + '/buildings');
                res.success(function(data) {
                    console.log(data);
                    $scope.buildings = data.buildings;
                    $scope.building_names = data.building_names;
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.updateBuildings = function() {
                var set = {};
                for (var i = 0; i < $scope.buildings.length; i++) {
                    if ($scope.buildings[i] === '') {
                        $.notify("There is one building that you did not specify", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    if (set[$scope.buildings[i]]) {
                        $.notify("You specify more than or two same buildings", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    set[$scope.buildings[i]] = true;
                }
                var res = $http.post('/central/dataservice/'+ this.dataServiceName + '/buildings', {'data': $scope.buildings});
                res.success(function(data) {
                    $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };


            $scope.root.addNewAdmin = function() {
                $scope.admins.push('');
            };
            $scope.root.removeAdmin = function(index) {
                $scope.admins.splice(index, 1);
            };
            $scope.root.selectAdmins = function(dataServiceName) {
                this.dataServiceName = dataServiceName;
                var res = $http.get('/central/dataservice/'+ dataServiceName + '/admins');
                res.success(function(data) {
                    console.log(data);
                    $scope.admins = data.admins;
                    $scope.user_emails = data.user_emails;
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.updateAdmins = function() {
                var set = {};
                for (var i = 0; i < $scope.admins.length; i++) {
                    if ($scope.admins[i] === '') {
                        $.notify("There is one admin that you did not specify", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    if (set[$scope.admins[i]]) {
                        $.notify("You specify more than or two same admins", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    set[$scope.admins[i]] = true;
                }
                var res = $http.post('/central/dataservice/'+ this.dataServiceName + '/admins', {'data': $scope.admins});
                res.success(function(data) {
                    $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };

        });
    </script>
{% endblock %}