{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - Sensor{% endblock %}

{% block page_content %}

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a New Sensor</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-app="myApp" ng-controller="metadataController">
        <div class="page-header">
            <h2 style="display: inline-block;" id = "header">  &nbsp;&nbsp;&nbsp;Sensor&nbsp;&nbsp;<a href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;Add a New Sensor</a>
                <a ng-click="root.filter()" href="#filter_search" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a></h2>
            <ul class="pagination" id="pagination" style="float: right"></ul>
            {% if total == 0 %}
                <div style="text-align: center">Showing 0 - {{ total }} of {{ total }} Sensors</div>
            {% elif current_page == 1 and total < pagesize %}
                <div style="text-align: center">Showing 1 - {{ total }} of {{ total }} Sensors</div>
            {% elif current_page == 1 and total >= pagesize %}
                <div style="text-align: center">Showing 1 - {{ pagesize }} of {{ total }} Sensors</div>
            {% elif current_page<pages %}
                <div style="text-align: center">Showing {{ ((current_page-1)*pagesize) + 1 }} - {{ (current_page)*pagesize }} of {{ total }} Sensors</div>
            {% elif current_page==pages %}
                <div style="text-align: center">Showing {{((current_page-1)*pagesize) + 1}} - {{ total }} of {{ total }} Sensors</div>
            {% endif %}
        </div>
        <div>
            <div class="modal fade" id="filter_search">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> Filter Search</h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table" ng-show="old_search.length > 0">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="pair in old_search">
                                        <td><input disabled ng-model="old_search[$index].key" type="text" class="form-control" value="{[ pair.key ]}"></td>
                                        <td><input ng-model="old_search[$index].value" type="text" class="form-control" value="{[ pair.value ]}"></td>
                                        <td><button class="close" ng-click="root.removeOldFilter($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="pair in filter_search">
                                        <td><select ng-model="filter_search[$index].key" class="form-control" ng-options="opt for opt in filter_strings | orderBy: opt"></select></td>
                                        <td><input ng-model="filter_search[$index].value" type="text" class="form-control" value="{[ pair.value ]}"></td>
                                        <td><button class="close" ng-click="root.removeFilter($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="btn-group">
                                <button ng-click="root.addNewFilter()" type="button" class="btn btn-info">Add a new Filter</button>
                                <button ng-click="root.updateFilter()" type="button" class="btn btn-warning">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="tags">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Assigned Tags for Sensor {[ sensorName ]} </h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table" ng-show="tags_owned.length > 0">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tag in tags_owned">
                                        <td><input disabled ng-model="tags_owned[$index].name" type="text" class="form-control" value="{[ tag.name ]}"></td>
                                        <td><input disabled ng-model="tags_owned[$index].value" type="text" class="form-control" value="{[ tag.value ]}"></td>
                                        <td><button class="close" ng-click="root.removeExistingTag($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tag in addedTags">
                                        <td><select ng-model="addedTags[$index].name" class="form-control" ng-options="name for name in names | orderBy: name"></select></td>
                                        <td><select ng-model="addedTags[$index].value" class="form-control" ng-options="value for value in values | valueFilter: this: addedTags[$index].name | orderBy: value"></select></td>
                                        <td><button class="close" ng-click="root.removeTag($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="btn-group">
                                <button ng-click="root.addNewTag()" type="button" class="btn btn-info">Add a new tag</button>
                                <button ng-click="root.updateTags()" type="button" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="views">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Assigned Views for Sensor {[ sensorName ]} </h4>
                        </div>
                        <div class="modal-body">
                            <div>
                                <table class="table" ng-show="tags_owned.length > 0">
                                    <thead>
                                    <tr>
                                        <th>UUID</th>
                                        <th>Source Name</th>
                                        <th>Fields</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tag in tags_owned">
                                        <td><input disabled ng-model="tags_owned[$index].id" type="text" class="form-control" value="{[ tag.id ]}"></td>
                                        <td><input disabled ng-model="tags_owned[$index].source_name" type="text" class="form-control" value="{[ tag.source_name ]}"></td>
                                        <td><input disabled ng-model="tags_owned[$index].fields" type="text" class="form-control" value="{[ tag.fields ]}"></td>
                                        <td><button class="close" ng-click="root.removeExistingView($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>UUID</th>
                                        <th>Source Name</th>
                                        <th>Fields</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tag in addedViews">
                                        <td><select ng-model="addedViews[$index].name" class="form-control" ng-options="name for name in names | orderBy: name"></select></td>
                                        <td><select ng-model="addedViews[$index].value" class="form-control" ng-options="value for value in values | valueFilter: this: addedViews[$index].name | orderBy: value"></select></td>
                                        <td><button class="close" ng-click="root.removeView($index)">&times;</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="btn-group">
                                <button ng-click="root.addNewView()" type="button" class="btn btn-info">Add a new view</button>
                                <button ng-click="root.updateViews()" type="button" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="modal fade" id="subscribers">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Subscribers for Sensor {[ sensorName ]}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>User Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="subscriber in subscribers">
                                    <td><input ng-model="subscribers[$index].email" type="text" class="form-control" value="{[ subscriber ]}"></td>
                                    <td><button class="close" ng-click="root.removeSubscriber($index)">&times;</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-group">
                                <button ng-click="root.addNewSubscriber()" type="button" class="btn btn-info">Add a new subscriber</button>
                                <button ng-click="root.updateSubscribers()" type="button" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="modal fade" id="write">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Time Series Data of Sensor {[ sensorName ]}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Unix Timestamp</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pair in ts">
                                    <td><input ng-model="ts[$index].time" type="text" class="form-control" value="{[ pair.time ]}"></td>
                                    <td><input ng-model="ts[$index].value" type="text" class="form-control" value="{[ pair.value ]}"></td>
                                    <td><button class="close" ng-click="root.removeTS($index)">&times;</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn-group">
                                <button ng-click="root.addNewTS()" type="button" class="btn btn-info">Add a new pair</button>
                                <button ng-click="root.updateWrite()" type="button" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Building</th>
                        <th>Source Name</th>
                        <th>Source Identifier</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in objs %}
                        <tr>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.building }}</td>
                            <td>{{ obj.source_name }}</td>
                            <td>{{ obj.source_identifier }}</td>
                            <td>{{ obj.owner }}</td>
                            <td>
                                <a ng-click="root.tags('{{ obj.name }}')" href="#tags" data-toggle="modal" class="btn btn-info">Tags</a>
                            </td>
                            <td>
                                <a ng-click="root.views('{{ obj.name }}')" href="#views" data-toggle="modal" class="btn btn-info">Views</a>
                            </td>
                            <!--<td>
                                <a ng-click="root.selectSubscribers('{{ obj.name }}')" href="#subscribers" data-toggle="modal" class="btn btn-info">Subscribers</a>
                            </td>
                            <td>
                                <a ng-click="root.selectWrite('{{ obj.name }}')" href="#write" data-toggle="modal" class="btn btn-info">Write</a>
                            </td>-->
                            {% if obj.can_delete %}
                                <td>
                                    <form action="{{ url_for('central.sensor_delete') }}" method="POST" onsubmit="return confirm('Are you sure you want to Delete?');">
                                        <input type="hidden" value="{{ obj.name }}" name="name">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                    </form>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript">
        //Javascript
        function insertParam(key, value) {
            key = escape(key); value = escape(value);
            var kvp = document.location.search.substr(1).split('&');
            if (kvp == '') {
                document.location.search = '?' + key + '=' + value;
            }
            else {
                var i = kvp.length; var x; while (i--) {
                    x = kvp[i].split('=');
                    if (x[0] == key) {
                        x[1] = value;
                        kvp[i] = x.join('=');
                        break;
                    }
                }
                if (i < 0) { kvp[kvp.length] = [key, value].join('='); }
                document.location.search = kvp.join('&');
            }
        }

        var totalPages = {{ pages }}, buttons = 5;
        var currentPage = lowerLimit = upperLimit = Math.min({{ current_page }}, totalPages);
        var modify="";
        if (currentPage > 1)
            $('#pagination').append('<li><a href=javascript:insertParam("page",1)><em>First</em></a></li> ');
        for (var b = 1; b < buttons && b < totalPages;) {
            if (lowerLimit > 1 ) { lowerLimit--; b++; }
            if (b < buttons && upperLimit < totalPages) { upperLimit++; b++; }
        }
        for (var i = lowerLimit; i <= upperLimit; i++) {
            if (i == currentPage) $('#pagination').append('<li class="page-item"> <a style="background-color: #33ccff;" href=#><em>' + i + '</em></a></li>');
            else $('#pagination').append('<li><a href=javascript:insertParam("page",'+i+')><em>' + i + '</em></a></li> ');
        }
        if (currentPage != totalPages)
            $('#pagination').append('<li><a href=javascript:insertParam("page",' + totalPages + ')><em>Last</em></a></li> ');

        if(location.search.indexOf("q=")>=0){
            $('#header').append('&nbsp;<a href="{{ url_for('central.sensor') }}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-danger"></span>&nbsp;Clear</a>')
        }

        //AngularJS part
        var app = angular.module("myApp", []);
        var access_token=document.cookie.replace(/(?:(?:^|.*;\s*)access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        var header ={'Authorization': 'bearer ' + access_token};
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function($scope, $http) {
            $scope.root = {};
            $scope.filter_search = [];
            $scope.filter_search.push({'key': '', 'value': ''});
            $scope.filter_strings = ["ID","Building","SourceName","SourceIdentifier","Tags","Owner"];
            $scope.root.addNewFilter = function () {
                $scope.filter_search.push({'key': '', 'value': ''});
            };
            $scope.root.removeFilter = function(index) {
                $scope.filter_search.splice(index, 1);
            };
            $scope.root.filter = function(){
                try {
                    var query = JSON.parse(decodeURIComponent(location.search.substring(1)).split('=')[1]);

                    //convert back to angularjs format
                    var old_search = [];
                    for (var i in query) {
                        if (query[i].length > 0) {
                            for (var j = 0; j < query[i].length; j++) {
                                old_search.push({
                                    "key": i,
                                    "value": query[i][j]
                                });
                            }
                        }
                    }
                    $scope.old_search = old_search;
                }
                catch (err){}
            };

            $scope.root.removeOldFilter = function(index) {
                $scope.old_search.splice(index, 1);
            };

            $scope.root.updateFilter=function(){
                if($scope.old_search)
                    var temp =$scope.filter_search.concat($scope.old_search);
                else
                    var temp =$scope.filter_search;

                var json={};
                if (temp.length <= 0) {
                    $.notify("Please Enter Some Search Query", {
                        position: "top center",
                        clickToHide: true,
                        autoHideDelay: 2000
                    });
                } else {
                    var set = {};
                    for (var i = 0; i < temp.length; i++) {

                        if (temp[i].key === '' || temp[i].value === '') {
                            $.notify("There is a name or value that is not specified", {
                                position: "top center",
                                clickToHide: true,
                                autoHideDelay: 2000
                            });
                            return;
                        }
                        if (set[temp[i].key + temp[i].value]) {
                            $.notify("There is a search value that is specified more than once", {
                                position: "top center",
                                clickToHide: true,
                                autoHideDelay: 2000
                            });
                            return;
                        }
                        //Change Format of payload before posting
                        if (temp[i].key == 'Building') {
                            if ("Building" in json) {
                                json["Building"].push(temp[i].value.replace('&','%26'));
                            }
                            else {
                                json["Building"] = [];
                                json["Building"].push(temp[i].value.replace('&','%26'));
                            }
                        }
                        else if (temp[i].key == 'ID') {
                            if ("ID" in json) {
                                json["ID"].push(temp[i].value);
                            }
                            else {
                                json["ID"] = [];
                                json["ID"].push(temp[i].value);
                            }
                        }
                        else if (temp[i].key == 'SourceIdentifier') {
                            if ("SourceIdentifier" in json) {
                                json["SourceIdentifier"].push(temp[i].value.replace('&','%26'));
                            }
                            else {
                                json["SourceIdentifier"] = [];
                                json["SourceIdentifier"].push(temp[i].value.replace('&','%26'));
                            }
                        }
                        else if (temp[i].key == 'SourceName') {
                            if ("SourceName" in json) {
                                json["SourceName"].push(temp[i].value.replace('&','%26'));
                            }
                            else {
                                json["SourceName"] = [];
                                json["SourceName"].push(temp[i].value.replace('&','%26'));
                            }
                        }
                        else if (temp[i].key == 'Owner') {
                            if ("Owner" in json) {
                                json["Owner"].push(temp[i].value.replace('&','%26'));
                            }
                            else {
                                json["Owner"] = [];
                                json["Owner"].push(temp[i].value.replace('&','%26'));
                            }
                        }
                        else if (temp[i].key == 'Tags') {
                            if ("Tags" in json) {
                                json["Tags"].push(temp[i].value.replace('&','%26'));
                            }
                            else {
                                json["Tags"] = [];
                                json["Tags"].push(temp[i].value.replace('&','%26'));
                            }
                        }
                    }

                    var url='/central/sensor/search';
                    window.location=url+"?q="+JSON.stringify(json);
                    /*var value=json;
                     var form =$('<form action="' + url + '" method="post">' + '<input type="hidden" name="api_url" value=' +JSON.stringify(value)+ ' />' + '</form>');
                     $('body').append(form);
                     form.submit();*/
                }

            };

            $scope.root.tags = function(sensorName) {
                $scope.addedTags = [];
                $scope.sensorName = sensorName;
                var res = $http.get('/api/sensor/' + sensorName + '/tags',{ headers: header });
                res.success(function(data) {
                    $scope.tags = data.tags;
                    $scope.tags_owned = data.tags_owned;
                    $scope.names = Object.keys($scope.tags);

                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.addNewTag = function() {
                $scope.addedTags.push({'name': '', 'value': ''});
            };
            $scope.root.removeExistingTag = function(index) {
                $scope.tags_owned.splice(index, 1);
            };
            $scope.root.removeTag = function(index) {
                $scope.addedTags.splice(index, 1);
            };
            $scope.root.updateTags = function() {
                tags = $scope.tags_owned.concat($scope.addedTags);
                if (tags.length > 0) {
                    var set = {};
                    for (var i = 0; i < tags.length; i++) {
                        if (tags[i].name === '' || tags[i].value === '') {
                            $.notify("There is a name or value that is not specified", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        if (set[tags[i].name+tags[i].value]) {
                            $.notify("There is a tag that is specified more than once", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        set[tags[i].name+tags[i].value] = true;
                    }
                }

                var res = $http.post('/api/sensor/'+ $scope.sensorName + '/tags', {'data': {'tags':tags}},{ headers: header });
                res.success(function(data) {
                    if (data["success"]==="False"){
                        $.notify(data["error"], {
                            position: "top center",
                            clickToHide: true,
                            autoHideDelay:2000
                        });
                    }
                    else if (data["success"]==="True"){
                       $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                    }
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };



            $scope.root.views = function(sensorName) {
                $scope.addedViews = [];
                $scope.sensorName = sensorName;
                var res = $http.get('/api/sensor/' + sensorName + '/views',{ headers: header });
                res.success(function(data) {
                    $scope.views_owned = data.views_owned;
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.addNewView = function() {
                $scope.addedViews.push({'source_name': '', 'fields': '', 'uuid': ''});
            };
            $scope.root.removeExistingView = function(index) {
                $scope.views_owned.splice(index, 1);
            };
            $scope.root.removeView = function(index) {
                $scope.addedViews.splice(index, 1);
            };
            $scope.root.updateViews = function() {
                views = $scope.views_owned.concat($scope.addedViews);
                if (views.length > 0) {
                    var set = {};
                    for (var i = 0; i < views.length; i++) {
                        if (views[i].fields === '') {
                            $.notify("Fields is not specified", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        if (set[views[i].fields]) {
                            $.notify("There is a view that is specified more than once (same fields)", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        set[views[i].fields] = true;
                    }
                }
                $scope.addedViews.forEach(view => {
                    var res = $http.post('/api/sensor/'+ $scope.sensorName + '/views', {'data': {'uuid':view.uuid, 'source_name': view.source_name, 'fields': view.fields}},{ headers: header });
                    res.success(function(data) {
                        if (data["success"]==="False"){
                            $.notify(data["error"], {
                                position: "top center",
                                clickToHide: true,
                                autoHideDelay:2000
                            });
                        }
                        else if (data["success"]==="True"){
                           $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                        }
                    });
                    res.error(function() {
                        $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                    });
                })
            };

            /*$scope.root.addNewSubscriber = function() {
                $scope.subscribers.push({'email': ''});
            };
            $scope.root.removeSubscriber = function(index) {
                $scope.subscribers.splice(index, 1);
            };
            $scope.root.selectSubscribers = function(sensorName) {
                $scope.sensorName = sensorName;
                var res = $http.get('/api/sensor/'+ sensorName + '/subscribers',{ headers: header });
                res.success(function(data) {
                    $scope.subscribers = data.subscribers;
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.updateSubscribers = function() {
                var set = {};
                for (var i = 0; i < $scope.subscribers.length; i++) {
                    if ($scope.subscribers[i].email === '') {
                        $.notify("There is one subscriber that you did not specify", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    if (set[$scope.subscribers[i].email]) {
                        $.notify("You specify more than or two same subscribers", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    set[$scope.subscribers[i].email] = true;
                }
                var res = $http.post('/api/sensor/'+ $scope.sensorName + '/subscribers', {'data': $scope.subscribers}, { headers: header });
                res.success(function(data) {
                    if (data.success === 'True') {
                        $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                    } else {
                        $.notify("There is one or more emails that are not in the database", { position:"top center",clickToHide: true,autoHideDelay:2000});
                    }

                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };

            $scope.root.addNewTS = function() {
                $scope.ts.push({'time': '', 'value': ''});
            };
            $scope.root.removeTS = function(index) {
                $scope.ts.splice(index, 1);
            };
            $scope.root.selectWrite = function(sensorName) {
                $scope.sensorName = sensorName;
                $scope.ts = [];
            };
            $scope.root.updateWrite = function() {
                var set = {};
                for (var i = 0; i < $scope.ts.length; i++) {
                    if ($scope.ts[i].time === '' || $scope.ts[i].value === '') {
                        $.notify("There is one pair that you did not specify the time or value", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    if (set[$scope.ts[i].time]) {
                        $.notify("You specify more than or two same time stamps", { position:"top center",clickToHide: true,autoHideDelay:2000});
                        return;
                    }
                    set[$scope.ts[i].time] = true;
                }
                var res = $http.post('/api/sensor/'+ $scope.sensorName + '/timeseries', {'data': $scope.ts},{ headers: header });
                res.success(function(data) {
                    if (data.success === 'True') {
                        $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                    } else {
                        $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                    }

                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };*/

        });
        app.filter('valueFilter', [function() {
            return function(input, scope, name) {
                return scope.tags[name]["values"];
            };
        }]);
    </script>
{% endblock %}
