{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - Sensor Group{% endblock %}

{% block page_content %}
<div class="row">
    <div class="page-header">
        <h2>Sensor Group <a href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-hand-up"></span> Add a New Sensor Group</a></h2>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a New Sensor Group</h4>
                </div>
                <div class="modal-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>



    <div ng-app="myApp" ng-controller="metadataController">
        <div class="modal fade" id="tags">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assigned Tags for Sensor Group {[ sensorGroupName ]} </h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <table class="table" ng-show="tags_owned.length > 0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tag in tags_owned">
                                        <td><input disabled ng-model="tags_owned[$index].name" type="text" class="form-control" value="{[ tag.name ]}"></td>
                                        <td><input disabled ng-model="tags_owned[$index].value" type="text" class="form-control" value="{[ tag.value ]}"></td>
                                        <td><button class="close" ng-click="root.removeExistingTag($index)">&times;</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="tag in addedTags">
                                        <td><select ng-model="addedTags[$index].name" class="form-control" ng-options="name for name in names | orderBy: name"></select></td>
                                        <td><select ng-model="addedTags[$index].value" class="form-control" ng-options="value for value in values | valueFilter: this: addedTags[$index].name | orderBy: value"></select></td>
                                        <td><button class="close" ng-click="root.removeTag($index)">&times;</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="btn-group">
                            <button ng-click="root.addNewTag()" type="button" class="btn btn-info">Add a new tag</button>
                            <button ng-click="root.updateTags()" type="button" class="btn btn-warning">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Building</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objs %}
                    <tr>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.description }}</td>
                        <td>{{ obj.building }}</td>
                        <td>
                            <a ng-click="root.tags('{{ obj.name }}')" href="#tags" data-toggle="modal" class="btn btn-info">Tags</a>
                        </td>
                        {% if obj.can_delete %}
                        <td>
                            <form action="{{ url_for('central.sensorgroup_delete') }}" method="POST" onsubmit="return confirm('Are you sure you want to Delete?');">
                            <input type="hidden" value="{{ obj.name }}" name="name">
                            <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
     {{ super() }}
     <script>
        var app = angular.module("myApp", []);
        var access_token=document.cookie.replace(/(?:(?:^|.*;\s*)access_token\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        var header ={'Authorization': 'bearer ' + access_token};
        app.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function($scope, $http) {
            $scope.root = {};
            $scope.root.tags = function(sensorGroupName) {
                $scope.addedTags = [];
                $scope.sensorGroupName = sensorGroupName;
                var res = $http.get('/api/sensor_group/' + sensorGroupName + '/tags',{ headers: header });
                res.success(function(data) {
                    $scope.tags = data.tags;
                    $scope.tags_owned = data.tags_owned;
                    $scope.names = Object.keys($scope.tags);
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
            $scope.root.addNewTag = function() {
                $scope.addedTags.push({'name': '', 'value': ''});
            };
            $scope.root.removeExistingTag = function(index) {
                $scope.tags_owned.splice(index, 1);
            };
            $scope.root.removeTag = function(index) {
                $scope.addedTags.splice(index, 1);
            };
            $scope.root.updateTags = function() {
                tags = $scope.tags_owned.concat($scope.addedTags);
                if (tags.length > 0) {
                    var set = {};
                    for (var i = 0; i < tags.length; i++) {
                        if (tags[i].name === '' || tags[i].value === '') {
                            $.notify("There is a name or value that is not specified", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        if (set[tags[i].name+tags[i].value]) {
                            $.notify("There is a tag that is specified more than once", { position:"top center",clickToHide: true,autoHideDelay:2000});
                            return;
                        }
                        set[tags[i].name+tags[i].value] = true;
                    }
                }

                var res = $http.post('/api/sensor_group/'+ $scope.sensorGroupName + '/tags', {'data': tags},{ headers: header });
                res.success(function(data) {
                    if (data["success"]==="False"){
                        $.notify(data["error"], {
                            position: "top center",
                            clickToHide: true,
                            autoHideDelay:2000
                        });
                    }
                    else if (data["success"]==="True"){
                       $.notify("Success",{ globalPosition:'top center',clickToHide: true,autoHideDelay:2000, className:'success'});
                    }
                });
                res.error(function() {
                    $.notify("Ajax failed", { position:"top center",clickToHide: true,autoHideDelay:2000});
                });
            };
        });
        app.filter('valueFilter', [function() {
            return function(input, scope, name) {
                return scope.tags[name]["values"];
            };
        }]);
    </script>
{% endblock %}