{% extends "index.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}BuildingDepot - User{% endblock %}

{% block page_content %}
    <div class="row" ng-app="myApp" ng-controller="metadataController">
        <div class="page-header">
            <h2>User <a href="#myModal" data-toggle="modal" class="btn btn-info btn-lg"><span
                    class="glyphicon glyphicon-hand-up"></span> Add a New User</a></h2>
        </div>

        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add a New User</h4>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" ng-submit="root.submit()">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input ng-model="email" required class="form-control" type="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input ng-model="fname" required class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-10">
                                    <input ng-model="lname" required class="form-control" type="text">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Role</label>
                                <div class="col-lg-10">
                                    <select required class="form-control" ng-model="selectedRole"
                                            ng-options="role for role in roleOptions"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <button ng-click="root.addNewUser()" class="btn btn-success pull-right"
                                            type="submit">Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="tags">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Assigned Tags for {[ defaultUser ]} </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="triple in d.triples">
                            <div class="col-sm-4">
                                <p>
                                <h3>{[ triple.building ]}</h3>
                                <button class="close" ng-click="root.removeExistingTriple($index)">&times;</button>
                                </p>
                            </div>

                            <div class="col-sm-8">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="pair in triple.tags">
                                        <td><input disabled ng-model="d.triples[$parent.$index].tags[$index].name"
                                                   type="text" class="form-control" value="{[ pair.name ]}"></td>
                                        <td><input disabled ng-model="d.triples[$parent.$index].tags[$index].value"
                                                   type="text" class="form-control" value="{[ pair.value ]}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <select ng-model="d.building" class="form-control"
                                    ng-options="building for building in d.buildings"></select>
                        </div>

                        <div class="col-sm-8">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="triple in d.addedTriples">
                                    <td><select ng-model="d.addedTriples[$index].name" class="form-control"
                                                ng-options="name for name in d.names | nameFilter:this : d.building"></select>
                                    </td>
                                    <td><select ng-model="d.addedTriples[$index].value" class="form-control"
                                                ng-options="value for value in d.values | valueFilter:this : d.building : d.addedTriples[$index].name"></select>
                                    </td>
                                    <td>
                                        <button class="close" ng-click="root.removeAddedTriple($index)">&times;</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="btn-group">
                            <button ng-click="root.addNewTriple()" type="button" class="btn btn-info">Add a new tag
                            </button>
                            <button ng-click="root.updateTriples()" type="button" class="btn btn-warning">Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="page-header">
                <h4><strong>Super User</strong></h4>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                {% for user in super_user %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-12">
            <div class="page-header">
                <h4><strong>Default User</strong></h4>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                </thead>
                <tbody>
                {% for user in default %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        var app = angular.module("myApp", []);
        var header ={{ session.headers|tojson }};
        app.config(['$interpolateProvider', function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        app.controller("metadataController", function ($scope, $http) {
            $scope.root = {};
            $scope.roleOptions = ['super', 'default'];
            $scope.selectedRole = 'default';

            $scope.root.tags = function (defaultUser) {
                $scope.defaultUser = defaultUser;
                var res = $http.get('/central/user/' + $scope.defaultUser + '/tags_owned');
                res.success(function (data) {
                    $scope.d = {};
                    $scope.d.building = '';
                    $scope.d.triples = data.triples;
                    $scope.d.addedTriples = [];
                    $scope.d.tags = data.data;
                    $scope.d.buildings = Object.keys($scope.d.tags);
                });
                res.error(function () {
                    alert("Ajax failed");
                });
            };
            $scope.root.removeExistingTriple = function (index) {
                $scope.d.triples.splice(index, 1);
            };
            $scope.root.removeAddedTriple = function (index) {
                $scope.d.addedTriples.splice(index, 1);
            };
            $scope.root.addNewTriple = function () {
                $scope.d.addedTriples.push({'name': '', 'value': ''});
            };
            $scope.root.updateTriples = function () {
                if ($scope.d.addedTriples.length === 0) {
                    return;
                }
                if ($scope.d.addedTriples.length > 0) {
                    var set = {};
                    for (var i = 0; i < $scope.d.addedTriples.length; i++) {
                        if ($scope.d.addedTriples[i].name === '' || $scope.d.addedTriples[i].value === '') {
                            alert('There is a name or value that is not specified');
                            return;
                        }
                        if (set[$scope.d.addedTriples[i].name + $scope.d.addedTriples[i].value]) {
                            alert('There is a tag that is specified more than once');
                            return;
                        }
                        set[$scope.d.addedTriples[i].name + $scope.d.addedTriples[i].value] = true;
                    }
                }
                if ($scope.d.building !== '') {
                    $scope.d.triples.push({'building': $scope.d.building, 'tags': $scope.d.addedTriples});
                }
                var res = $http.post('/central/user/' + $scope.defaultUser + '/tags_owned', {'data': $scope.d.triples});
                res.success(function (data) {
                    $scope.d.building = '';
                    $scope.d.addedTriples = [];
                    confirm('Success');
                });
                res.error(function () {
                    alert("Ajax failed");
                });
            };

            $scope.root.addNewUser = function () {
                var json = {
                    'email': $scope.email,
                    'first_name': $scope.fname,
                    'last_name': $scope.lname,
                    'role': $scope.selectedRole
                };
                console.log(header);
                var res = $http.post('/api/user', {'data': json}, {headers: header});
                res.success(function (data) {
                    if (data["success"] === "False") {
                        $.notify(data["error"], {
                            position: "top center",
                            clickToHide: true,
                            autoHideDelay: 4000
                        });
                    } else if (data["success"] === "True") {
                        $.notify("Success", {
                            globalPosition: 'top center',
                            clickToHide: true,
                            autoHideDelay: 2000,
                            className: 'success'
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 335);
                    }
                });
                res.error(function (err) {
                    console.log(err);
                    $.notify("Ajax failed", {position: "top center", clickToHide: true, autoHideDelay: 2000});
                    setTimeout(function () {
                        location.reload();
                    }, 335);
                });
            };
        });

        app.filter('nameFilter', [function () {
            return function (input, scope, building) {
                console.log(input);
                console.log(scope.d.tags[building]);
                return Object.keys(scope.d.tags[building]);
            };
        }]);

        app.filter('valueFilter', [function () {
            return function (input, scope, building, name) {
                return scope.d.tags[building][name];
            };
        }]);
    </script>
{% endblock %}